@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@charset "UTF-8";


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}
* {
    padding: 0px;
    margin: 0px;
}

html,body {
    background-color: white;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background: #103754;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 30px;

}

header h1 {
    padding-top: 50px;
    font-variant: small-caps; /*letras inicias maiores */
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: gray;
}

footer {
    text-align: center;
    background-color: #103754;
    padding: 10px;
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #2c5471;
    color: white;
    background-attachment: fixed;
}

section.imagem > p {
    width: 400px;
    background-color:#16364d7b;
    display: inline-block;
}


/* configurações backgrounds */

section#img01 {
    background-image: url(denis-volkov-BZzt5fgHVdA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

section#img02 {
    background-image: url(eberhard-grossgasteiger-6bG3jXCfLhw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    
}